# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build sys
Makefile
build*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake 
install_manifest.txt

# Stupid
stupid_build.cmake
stupid/stupid-gen-cmake

